* { margin: 0; padding: 0; }

html { 
	background: url(/img/ProfileBackground_Nora_Top.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

	.page-header{
	padding-top: 40px;
	padding-bottom: 40px;
	margin-bottom: 20px;
	margin-left: 50px;
  	color: white;
  	opacity: 0;
}