html { 
	/*background: url(/img/noratop_bkg_980.jpg) no-repeat center top fixed; */+
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
}

/* default screen, non-retina */
    html {background-image: url(/img/noratop_bkg_980.jpg); }
/*
@media only screen and (max-width: 320px) {
    /* Small screen, non-retina 
    html {background-image: url(/img/noratop_bkg_320.jpg); }
}
@media only screen and (min-resolution: 2dppx) and (max-width: 320px) {
    /* Small screen, retina 
    html {background-image: url(/img/noratop_bkg_320_2x.jpg); }
}*/
@media only screen and (max-width: 550px) {
    /* Medium screen, non-retina */
    html {background-image: url(/img/noratop_bkg_550.jpg); }
}
@media only screen and (min-resolution: 2dppx) and (max-width: 550px) {
    /* Medium screen, retina */
    html {background-image: url(/img/noratop_bkg_550_2x.jpg); }
}
@media only screen and (min-width: 551px) and (max-width: 980px) {
    /* Medium screen, non-retina */
    html {background-image: url(/img/noratop_bkg_980.jpg); }
}
@media only screen and (min-resolution: 2dppx) and (min-width: 551px) and (max-width: 980px) {
    /* Medium screen, retina */
    html {background-image: url(/img/noratop_bkg_980_2x.jpg); }
}
@media only screen and (min-resolution: 2dppx) and (min-width: 981px) {
    /* Large screen, retina */
    html {background-image: url(/img/noratop_bkg_1920_2x.jpg); }
}